USE [master]
GO
/****** Object:  Database [Diagnostic Center Bill System]    Script Date: 8/7/2016 3:23:10 AM ******/
CREATE DATABASE [Diagnostic Center Bill System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diagnostic Center Bill System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Diagnostic Center Bill System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Diagnostic Center Bill System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Diagnostic Center Bill System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diagnostic Center Bill System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diagnostic Center Bill System]
GO
USE [Diagnostic Center Bill System]
GO
/****** Object:  Table [dbo].[t_Types]    Script Date: 8/7/2016 3:23:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Types](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_t_Types] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_Tests]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Tests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Fee] [numeric](18, 0) NOT NULL,
	[TypeNameId] [int] NOT NULL,
 CONSTRAINT [PK_t_Tests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[TestAndType]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[TestAndType] 
AS
select  ts.Name TestName,ts.Fee Fee,tp.Name TypeName,ts.TypeNameId,tp.Id TypeId
from t_Tests ts Inner join t_Types tp
on ts.TypeNameId=tp.Id 


GO
/****** Object:  Table [dbo].[t_testgridview]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_testgridview](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MobileNogridview] [varchar](50) NULL,
	[TestName] [varchar](150) NULL,
	[Fee] [varchar](50) NULL,
 CONSTRAINT [PK_t_testgridview] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_TestReqEntry]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_TestReqEntry](
	[BillNo] [int] IDENTITY(100,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DateofBirth] [varchar](50) NOT NULL,
	[MobileNo] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[TotalFee] [numeric](18, 0) NULL,
	[PaidAmount] [numeric](18, 0) NOT NULL,
	[DueAmount] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_t_TestReqEntry] PRIMARY KEY CLUSTERED 
(
	[MobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[asp]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[asp]
AS
SELECT        dbo.t_testgridview.id, dbo.t_testgridview.MobileNogridview, dbo.t_testgridview.TestName, dbo.t_testgridview.Fee, dbo.t_TestReqEntry.BillNo, dbo.t_TestReqEntry.Name, dbo.t_TestReqEntry.DateofBirth, 
                         dbo.t_TestReqEntry.MobileNo, dbo.t_TestReqEntry.Date, dbo.t_TestReqEntry.TotalFee, dbo.t_TestReqEntry.PaidAmount, dbo.t_TestReqEntry.DueAmount
FROM            dbo.t_testgridview INNER JOIN
                         dbo.t_TestReqEntry ON dbo.t_testgridview.MobileNogridview = dbo.t_TestReqEntry.MobileNo


GO
/****** Object:  View [dbo].[typewisetable]    Script Date: 8/7/2016 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[typewisetable] as


select TestAndType.TypeName,TestAndType.TestName,TestAndType.Fee,asp.Date
from TestAndType inner join asp on TestAndType.Fee=asp.Fee
GO
SET IDENTITY_INSERT [dbo].[t_testgridview] ON 

INSERT [dbo].[t_testgridview] ([id], [MobileNogridview], [TestName], [Fee]) VALUES (1100, N'1500', N'S. Creatinine', N'350')
INSERT [dbo].[t_testgridview] ([id], [MobileNogridview], [TestName], [Fee]) VALUES (1101, N'1500', N'Hand X-ray', N'200')
INSERT [dbo].[t_testgridview] ([id], [MobileNogridview], [TestName], [Fee]) VALUES (1102, N'3434', N'RBS', N'150')
SET IDENTITY_INSERT [dbo].[t_testgridview] OFF
SET IDENTITY_INSERT [dbo].[t_TestReqEntry] ON 

INSERT [dbo].[t_TestReqEntry] ([BillNo], [Name], [DateofBirth], [MobileNo], [Date], [TotalFee], [PaidAmount], [DueAmount]) VALUES (125, N'osan', N'1993-01-08', N'01673106468', CAST(N'2016-08-06' AS Date), CAST(1300 AS Numeric(18, 0)), CAST(1300 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)))
INSERT [dbo].[t_TestReqEntry] ([BillNo], [Name], [DateofBirth], [MobileNo], [Date], [TotalFee], [PaidAmount], [DueAmount]) VALUES (1104, N'shaon', N'2016-08-12', N'01910778228', CAST(N'2016-08-06' AS Date), CAST(1250 AS Numeric(18, 0)), CAST(1250 AS Numeric(18, 0)), CAST(0 AS Numeric(18, 0)))
INSERT [dbo].[t_TestReqEntry] ([BillNo], [Name], [DateofBirth], [MobileNo], [Date], [TotalFee], [PaidAmount], [DueAmount]) VALUES (1105, N'Name', N'2016-08-17', N'12124', CAST(N'2016-08-06' AS Date), CAST(2250 AS Numeric(18, 0)), CAST(400 AS Numeric(18, 0)), CAST(1850 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[t_TestReqEntry] OFF
SET IDENTITY_INSERT [dbo].[t_Tests] ON 

INSERT [dbo].[t_Tests] ([Id], [Name], [Fee], [TypeNameId]) VALUES (20, N'Complete Blood count (Total Count-Differential Count-ESR, Hb %)', CAST(400 AS Numeric(18, 0)), 10)
INSERT [dbo].[t_Tests] ([Id], [Name], [Fee], [TypeNameId]) VALUES (21, N'RBS', CAST(150 AS Numeric(18, 0)), 10)
INSERT [dbo].[t_Tests] ([Id], [Name], [Fee], [TypeNameId]) VALUES (22, N'S. Creatinine', CAST(350 AS Numeric(18, 0)), 10)
SET IDENTITY_INSERT [dbo].[t_Tests] OFF
SET IDENTITY_INSERT [dbo].[t_Types] ON 

INSERT [dbo].[t_Types] ([Id], [Name]) VALUES (10, N'Blood')
INSERT [dbo].[t_Types] ([Id], [Name]) VALUES (11, N'X-Ray')
INSERT [dbo].[t_Types] ([Id], [Name]) VALUES (12, N'USG')
SET IDENTITY_INSERT [dbo].[t_Types] OFF
ALTER TABLE [dbo].[t_testgridview]  WITH CHECK ADD  CONSTRAINT [FK_t_testgridview_t_testgridview] FOREIGN KEY([id])
REFERENCES [dbo].[t_testgridview] ([id])
GO
ALTER TABLE [dbo].[t_testgridview] CHECK CONSTRAINT [FK_t_testgridview_t_testgridview]
GO
ALTER TABLE [dbo].[t_Tests]  WITH CHECK ADD  CONSTRAINT [FK_t_Tests_t_Tests] FOREIGN KEY([TypeNameId])
REFERENCES [dbo].[t_Types] ([Id])
GO
ALTER TABLE [dbo].[t_Tests] CHECK CONSTRAINT [FK_t_Tests_t_Tests]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[0] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t_testgridview"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t_TestReqEntry"
            Begin Extent = 
               Top = 6
               Left = 263
               Bottom = 136
               Right = 433
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'asp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'asp'
GO
USE [master]
GO
